
<!-- display articles -->
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2 class="text-center">Articles</h2>
						Enter your username to get started adding commments:
						{{!--<form action="/user" method="POST">--}}
						<div id="user">
							User:<input type="text" class="initial-data" id="username" name="username"/>
							<button class="initial-data" onclick='createOrFindUser()'>Submit</button>
						{{!--</form>--}}
						</div>

						
				</div>
			</div>
		</div>
		