li:hover {
    background-color: #eceff1 ;
}
.full-article, .valid-user, .show-detail {
    display: none;
}
.err-msg {
    color: red;
    margin: 10px;
}
.comments {
    display: inline;
    line-height: 1;
    height: 50px;
    margin: 5px;
}
.comment-rows {
    margin: 20px;
    padding: 20px;
}
.comment-entry {
    margin-top: 30px;
}
.card-image {
    height: 200px;
}
/*.news-img {
    height: 200px;
    width: 200px;
}*/
.news-card {
    width: 80%;
}
.save-btn {
    margin: 10px;
}
.unsave-btn {
    margin: 10px;
}
.card {
    width: 50%;
}
/*for sticky footer*/
body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

i {
    font-size: 30px;
    padding: -5px 5px 0px 0px;
}

@media only screen and (min-width: 993px){
/*materialize.min.css:6*/
    .container {
        width: 80%;
    }
}
